# Configuración del Servidor
PORT=3001

# Modo de ejecución: MOCK (datos estáticos) o REAL (Supabase/PostgreSQL)
DB_MODE=MOCK

# Conexión a Base de Datos (Solo necesaria en REAL mode)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
